<a href="https://colab.research.google.com/github/Shivani-781/Ganga-Water-Quality-Assessment/blob/main/6_Data_Sample_Extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Random Sample Extraction

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
g1 = pd.read_csv('g1.csv')
print(g1.shape)
g2 = pd.read_csv('g2.csv')
print(g2.shape)
g3 = pd.read_csv('g3.csv')
print(g3.shape)
g4 = pd.read_csv('g4.csv')
print(g4.shape)
g5 = pd.read_csv('g5.csv')
print(g5.shape)
g6 = pd.read_csv('g6.csv')
print(g6.shape)
g7 = pd.read_csv('g7.csv')
print(g7.shape)
g8 = pd.read_csv('g8.csv')
print(g8.shape)
g9 = pd.read_csv('g9.csv')
print(g9.shape)
g10 = pd.read_csv('g10.csv')
print(g10.shape)
g11 = pd.read_csv('g11.csv')
print(g11.shape)
g12 = pd.read_csv('g12.csv')
print(g12.shape)
g13 = pd.read_csv('g13.csv')
print(g13.shape)
g14 = pd.read_csv('g14.csv')
print(g14.shape)
g15 = pd.read_csv('g15.csv')
print(g15.shape)
g16 = pd.read_csv('g16.csv')
print(g16.shape)
g17 = pd.read_csv('g17.csv')
print(g17.shape)
g18 = pd.read_csv('g18.csv')
print(g18.shape)
g19 = pd.read_csv('g19.csv')
print(g19.shape)
g20 = pd.read_csv('g20.csv')
print(g20.shape)
g21 = pd.read_csv('g21.csv')
print(g21.shape)

(70, 8)
(79, 8)
(3304, 8)
(2855, 8)
(0, 8)
(1, 8)
(107, 8)
(0, 8)
(0, 8)
(0, 8)
(83, 8)
(0, 8)
(0, 8)
(1499, 8)
(0, 8)
(1, 8)
(0, 8)
(0, 8)
(0, 8)
(4, 8)
(84, 8)

Selecting Random Samples

Sample 1

In [ ]:
g_sample_1 = [g1.head(50), g2.head(50), g3.head(50), g4.head(50), g7.head(50), g11.head(50), g14.head(50), g21.head(50)]
g_data_1 = pd.concat(g_sample_1)

In [ ]:
g_data_1

,Date,Frame No,BAT,COND,DO,ORP,PH,WT
0,2019-01-12 14:54:00,0,90.0,46.195190,13.501176,0.142900,12.359906,18.400787
1,2019-01-12 14:55:00,1,91.0,52.609680,20.752865,0.146236,12.825684,18.013641
2,2019-01-12 14:56:00,2,91.0,52.399826,12.409351,0.146724,12.998978,18.184570
3,2019-01-12 14:57:00,3,92.0,41.708813,13.330035,0.143533,13.105331,18.367126
4,2019-01-12 14:58:00,4,90.0,52.926560,10.858296,0.142336,13.183682,18.268341
...,...,...,...,...,...,...,...,...
45,2020-03-05 16:03:00,98,98.0,718.676800,16.458600,0.121643,9.060116,27.009857
46,2020-03-05 16:04:00,99,96.0,718.613650,13.028291,0.121814,9.056689,27.003418
47,2020-03-05 16:05:00,100,96.0,718.462950,13.455955,0.121636,9.059394,27.006592
48,2020-03-05 16:06:00,101,96.0,718.229000,13.773285,0.121644,9.049671,27.011383
49,2020-03-05 16:07:00,102,96.0,718.310000,14.439819,0.121749,9.059897,27.013428

In [ ]:
g_data_1.to_csv('g_data_1.csv', index = False)

Sample 2

In [ ]:
g_sample_2 = [g1.head(30), g2.head(30), g3.head(30), g4.head(30), g7.head(30), g11.head(30), g14.head(30), g21.head(30)]
g_data_2 = pd.concat(g_sample_2)

In [ ]:
g_data_2

,Date,Frame No,BAT,COND,DO,ORP,PH,WT
0,2019-01-12 14:54:00,0,90.0,46.195190,13.501176,0.142900,12.359906,18.400787
1,2019-01-12 14:55:00,1,91.0,52.609680,20.752865,0.146236,12.825684,18.013641
2,2019-01-12 14:56:00,2,91.0,52.399826,12.409351,0.146724,12.998978,18.184570
3,2019-01-12 14:57:00,3,92.0,41.708813,13.330035,0.143533,13.105331,18.367126
4,2019-01-12 14:58:00,4,90.0,52.926560,10.858296,0.142336,13.183682,18.268341
...,...,...,...,...,...,...,...,...
25,2020-03-05 15:42:00,78,97.0,717.642330,18.589476,0.118812,9.056171,26.961640
26,2020-03-05 15:43:00,79,98.0,717.864870,16.642284,0.119013,9.055483,26.975372
27,2020-03-05 15:44:00,80,96.0,717.825740,16.265455,0.119212,9.050922,26.975098
28,2020-03-05 15:45:00,81,96.0,717.836200,16.833710,0.119398,9.051182,26.979310
29,2020-03-05 15:46:00,82,96.0,717.845950,15.290481,0.119665,9.052684,26.985779

In [ ]:
g_data_2.to_csv('g_data_2.csv', index = False)

Sample 3

In [ ]:
g_sample_3 = [g1[20:40], g2[20:40], g3[20:40], g4[20:40], g7[20:40], g11[20:40], g14[20:40], g21[20:40]]
g_data_3 = pd.concat(g_sample_3)

In [ ]:
g_data_3

,Date,Frame No,BAT,COND,DO,ORP,PH,WT
20,2019-01-12 15:14:00,20,90.0,54.571686,8.781806,0.144138,13.271490,18.448700
21,2019-01-12 15:15:00,21,91.0,54.098644,8.612140,0.143724,13.328059,18.232513
22,2019-01-12 15:16:00,22,90.0,54.124638,8.463595,0.143710,13.294773,18.166382
23,2019-01-12 15:17:00,23,90.0,53.287600,8.397623,0.144098,13.178123,17.944427
24,2019-01-12 15:19:00,24,91.0,53.866000,8.649648,0.143933,13.267667,18.100433
...,...,...,...,...,...,...,...,...
35,2020-03-05 15:53:00,88,97.0,718.192500,16.467918,0.120692,9.057878,26.990356
36,2020-03-05 15:54:00,89,96.0,718.288600,15.885684,0.120835,9.051265,26.995544
37,2020-03-05 15:55:00,90,97.0,718.007400,15.181767,0.120850,9.052776,26.988678
38,2020-03-05 15:56:00,91,96.0,718.450200,13.872573,0.120954,9.057199,26.991852
39,2020-03-05 15:57:00,92,96.0,718.455000,14.715279,0.121095,9.046473,27.001373

In [ ]:
g_data_3.to_csv('g_data_3.csv', index = False)

Sample 4

In [ ]:
g_sample_4 = [g1[0:70], g2[0:70], g3[0:70], g4[0:70], g7[0:70], g11[0:70], g14[0:70], g21[0:70]]
g_data_4 = pd.concat(g_sample_4)

In [ ]:
g_data_4

,Date,Frame No,BAT,COND,DO,ORP,PH,WT
0,2019-01-12 14:54:00,0,90.0,46.195190,13.501176,0.142900,12.359906,18.400787
1,2019-01-12 14:55:00,1,91.0,52.609680,20.752865,0.146236,12.825684,18.013641
2,2019-01-12 14:56:00,2,91.0,52.399826,12.409351,0.146724,12.998978,18.184570
3,2019-01-12 14:57:00,3,92.0,41.708813,13.330035,0.143533,13.105331,18.367126
4,2019-01-12 14:58:00,4,90.0,52.926560,10.858296,0.142336,13.183682,18.268341
...,...,...,...,...,...,...,...,...
65,2020-03-05 16:23:00,118,96.0,719.012700,12.886819,0.122251,9.081745,27.043152
66,2020-03-05 16:24:00,119,96.0,718.942600,12.846547,0.122363,9.075125,27.041320
67,2020-03-05 16:25:00,120,96.0,718.761960,11.103142,0.122447,9.043997,27.036987
68,2020-03-05 16:26:00,121,96.0,718.976200,13.124990,0.122398,9.082335,27.043243
69,2020-03-05 16:27:00,122,96.0,719.061460,7.817824,0.122540,9.071476,27.049805

In [ ]:
g_data_4.to_csv('g_data_4.csv', index = False)